--- 
layout: default
---
<!-- Home Subpage -->
<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Sobre mí</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <ul class="info">
                    <li><span class="first-block">Nombre:</span><span class="second-block">Javier Cañadilla Casco</span></li>
                    <li><span class="first-block">Email:</span><span class="second-block">jcanadillacasco@outlook.com</span></li>
                    <li><span class="first-block">Vivo en:</span><span class="second-block">Madrid. España</span></li>
                </ul>
            </div>
            <div class="col-md-7">
                <h2>¡Hola mundo!</h2>
                <p class="text-justify">Bienvenido a mi página web personal. En ella encontrarás mi currículum vitae e información sobre mí. También
                    he creado un blog en el que iré publicando noticias, tecnologías y pruebas que vaya haciendo con el tiempo.</p>
                <p class="text-justify">Soy Ingeniero de Software y tengo un Máster Universitario en Informática Gráfica, Juegos y Realidad Virtual,
                    ambos títulos por la Universidad Rey Juan Carlos de Madrid. Me encanta programar y construir herramientas
                    que faciliten la vida de las personas. Me gusta mucho <i>trastear</i> con nuevas tecnologías para estar
                    continuamente aprendiendo y ampliando horizontes.
                </p>
                <p class="text-justify">Te animo a que me sigas en mis redes sociales y en Github. :)</p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://twitter.com/{{site.twitter_username}}" target="blank"><i class="icon-twitter2"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="blank"><i class="icon-linkedin2"></i></a></li>
                        <li><a href="https://github.com/{{site.github_username}}" target="blank"><i class="icon-github2"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-resume" class="animate-box fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Trayectoria</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Experiencia laboral</h3>
                        </div>
                    </li>
					{% for position in site.positions %}
						{% assign evenNumber = forloop.index | modulo: 2 %}
						<li class="animate-box {% if evenNumber == 0 %} timeline-inverted {% else %} timeline-unverted {% endif%}">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{ position.title }}</h3>
									<span class="company">{{ position.company }} - {{position.initialDate}} - {{position.finalDate}}</span>
								</div>
								<div class="timeline-body">
									{{ position.content }}
								</div>
							</div>
						</li>
					{% endfor %}
					<!-- <li class="animate-box timeline-inverted">
						<div class="timeline-badge"><i class="icon-suitcase"></i></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Desarrollador Backend + DevOps</h3>
								<span class="company">Gibobs allbanks - 02/2021 - Actualidad</span>
							</div>
							<div class="timeline-body">
								<p>Líder del desarrollo de backend. Creación de API Rest con microservicios y Hapi.js. Creación de
									infraestructura sobre Amazon Web Services (AWS).</p>
							</div>
						</div>
					</li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Analista programador - Node.js</h3>
                                <span class="company">VASS Consultoría de sistemas - 04/2019 - 02/2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>Desarrollo API Rest en Node.js. Integración de dispositivos IoT. Protocolos de comunicación. Creación de infraestructura sobre Amazon Web Services (AWS). Automatización de tareas con Jenkins.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-inverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Analista programador - Node.js</h3>
                                <span class="company">Boycor S.L - 11/2017 - 03/2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>Desarrollo API Rest en Node.js. Integración de dispositivos IoT. Protocolos de comunicación. Creación de infraestructura sobre Amazon Web Services (AWS). Automatización de tareas con Jenkins.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Programador de Tecnología</h3>
                                <span class="company">LabCave Games - 01/2017 - 11/2017</span>
                            </div>
                            <div class="timeline-body">
                                <p>Automatización de tareas con Ruby, integración con Jenkins, desarrollo de una aplicación
                                    web/base de datos, publicación de juegos en HTML5...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Programador de Unity 3D</h3>
                                <span class="company">LabCave Games - 08/2016 - 01/2017</span>
                            </div>
                            <div class="timeline-body">
                                <p>Desarrollador de videojuegos en Unity 3D, proceso de publicación de juegos en iOS y Android,
                                    gestión de redes de publicidad... </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Beca en Aplicaciones Corporativas</h3>
                                <span class="company">Universidad Rey Juan Carlos - 12/2014 - 11/2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Desarrollo de aplicaciones corporativas en PHP con Zend Framework 2, servicios REST y SOAP...</p>
                            </div>
                        </div>
                    </li> -->

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Estudios</h3>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Máster Universitario en Informática Gráfica, Juegos y Realidad Virtual</h3>
                                <span class="company">Universidad Rey Juan Carlos - 2015 - 2017</span>
                            </div>
                            <div class="timeline-body">
                                <p>Especialización en el desarrollo de videojuegos con Unity 3D, computación de altas prestaciones
                                    con CUDA, Shaders en GLSL...</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Grado en Ingeniería del Software</h3>
                                <span class="company">Universidad Rey Juan Carlos - 2011 - 2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Programación de algoritmos, programación funcional y concurrente, bases de datos, metodologías
                                    ágiles...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Secundaria y Bachillerato</h3>
                                <span class="company">I.E.S Profesor Ángel Ysern</span>
                            </div>
                            <div class="timeline-body">
                                <p>Rama de bachillerato tecnológico.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Educación primaria</h3>
                                <span class="company">Colegio público Felipe IV</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Proyectos</h2>
            </div>
        </div>
        <div class="row">
            {% for project in site.projects %}
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="{{project.url}}" class="work" style="background-image: url({{'assets/images/projects/' | append: project.thumbnail}});">
                    <div class="desc">
                        <h3>{{project.title}}</h3>
                        <span>{{project.technologies | array_to_sentence_string: 'y'}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2><a href="{{site.baseurl}}/blog">Posts</a></h2>
                <p class="text-center">En esta sección incluyo desarrollos de tecnologías nuevas que voy probando, tutoriales, curiosidades... Adelante, como si estuvieras en tu casa :)</p>
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit:6 %}
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="{{post.url}}" class="blog-bg" style="background-image: url({{ 'assets/images/posts/' | append: post.image }});"></a>
                    <div class="blog-text">
                        <span class="posted_on">{{ post.date | date: "%H:%M %d-%m-%Y" }}</span>
                        <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 300 }}</p>
                        <ul class="stuff">
                            <li><a href="{{post.url}}">Leer más<i class="icon-arrow-right22"></i></a></li>
                        </ul>
                    </div> 
                </div>
            </div>
            {% else %}
                <p class="text-center">Aun no he publicado ningún post. Pásate más adelante que seguro que los publicaré.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id="fh5co-started" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>¡Contáctame!</h2>
                <p class="text-center">Por si lo necesitas o lo estás buscando...</p>
                <p class="text-center"><a href="mailto:jcanadillacasco@outlook.com?subject=¡Hola%20Javier!" class="btn btn-default btn-lg">Email</a></p>
            </div>
        </div>
    </div>
</div>
